:root {
    --link-color: rgb(255, 30, 30);
    --body-color: white;
    --page-color: rgb(27, 27, 27);
}

a {
    border: 2px solid transparent;
}

a::after {
    width: 0%;
    height: 2px;
    display: block;
    background-color:var(--link-color);
    content: " ";
    position: absolute;
    top: 21px;
    left: 50%;
    -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

a:hover::after {
    width: 100%;
    height: 2px;
    display: block;
    background-color:var(--link-color);
    content: " ";
    position: absolute;
    top: 21px;
    left: 0;
}

a {
    vertical-align: top;
    text-decoration: none;
    color:var(--link-color);
    text-align: center;
    position: relative;
}

body {
    margin: 0rem;
}

.text {
    font-size: 1.1rem;
    font-family: 'Fira Code', monospace;
    word-wrap: break-word;
    margin-right: 10px;
    color: var(--body-color);
}

.fullscreen-bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
}

.fullscreen-bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}

.pad-normal {
    padding: 10px;
}

.container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    right: -1rem;
    top: -.25rem;
    bottom: -.25rem;
    height: 100%;
    width: 100%;
}

.big-title {
    font-size: 2rem;
    font-weight: bold;
}

.fullname {
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    color: var(--body-color);
}

/* ****************** */
/* BLOG related style */
/* ****************** */

.blog-content {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.container > hr {
    margin-right: 2rem;
}

.blog-content blockquote {
    background: #fff8d3;
    border-left: 10px solid rgb(104, 255, 84);
    margin: 1.5em 0px;
    padding: 1em 30px;
}

.blog-content blockquote p {
    display: inline;
    color: black;
}

.blog-content h1 {
    font-family: 'Bitter', serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.blog-content p, .blog-content h3 {
    font-family: 'Raleway', sans-serif;
    max-width: 900px;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}

.blog-content h3 {
    margin-top: 85px;
}

.blog-content .codehilite {
    padding: 10px 30px;
    border-radius: 10px;
    overflow-x: auto;
}

.blog-content ol li {
    margin-top: 50px;
}

.blog-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog-content img {
    border-radius: 10px;
    max-width: calc(100%);
}

.blog-content p code {
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 2.5px;
    font-size: 15px;
}

.tags-container {    
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: 15px;
    padding: 3px;
    margin: 2.5px;
    border-radius: 3px;
}

#general {
    color: black;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

#linux {
    color: black;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#python {
    color: black;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

#programming {
    color: black;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

#hacking {
    color: black;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

#basics {
    color: white;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

#automation {
    color: white;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#blogging {
    color: black;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

@media only screen and (max-width: 1250px) {

    /* For mobile phones: */
    .blog-content {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 800px) {

    /* For mobile phones: */
    .blog-content {
        margin-left: 1rem;
        margin-right: 2rem;
    }
}

/* ****************** */
/* PAGE related style */
/* ****************** */
 
.small-left-top-term {
    position: absolute;
    width: calc(25% - 55px);
    height: calc(50% - 2.5rem);
    left: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}
 
.small-left-bottom-term {
    position: absolute;
    width: calc(25% - 55px);
    height: calc(50% - 2.5rem);
    left: 0;
    bottom: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}
 
.full-term {
    position: absolute;
    width: calc(75% - 65px);
    height: calc(100% - 2.5rem);
    right: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}
 
.left-term {
    position: absolute;
    width: calc(50% - 55px);
    height: calc(100% - 2.5rem);
    left: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}

.right-term {
    position: absolute;
    width: calc(50% - 55px);
    height: calc(50% - 2rem);
    right: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}

.right-full-term {
    position: absolute;
    width: calc(50% - 55px);
    height: calc(100% - 2.5rem);
    right: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}

.right-bottom-left-term {
    position: absolute;
    width: calc(25% - 55px);
    height: calc(50% - 2rem);
    right: 25%;
    bottom: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--page-color);
}

.right-bottom-right-term {
    position: absolute;
    width: calc(25% - 25px);
    height: calc(50% - 1.5rem);
    right: 0;
    bottom: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.right-bottom-right-term img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 800px) {

    /* For mobile phones: */
    .small-left-top-term {
        position: relative;
        width: calc(100% - 55px);
        height: auto;
        left: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }
     
    .small-left-bottom-term {
        position: relative;
        width: calc(100% - 55px);
        height: auto;
        left: 0;
        bottom: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }
     
    .full-term {
        position: relative;
        width: calc(100% - 65px);
        height: auto;
        right: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }

    .left-term {
        position: relative;
        width: calc(100% - 4rem);
        height: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }

    .right-term {
        position: relative;
        width: calc(100% - 4rem);
        height: auto;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }

    .right-full-term {
        position: relative;
        width: calc(100% - 4rem);
        height: auto;
        right: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }

    .right-bottom-left-term {
        position: relative;
        width: calc(100% - 4rem);
        height: auto;
        right: 0;
        bottom: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--page-color);
    }

    .right-bottom-right-term {
        position: relative;
        width: calc(100% - 2rem);
        height: 500px;
        right: 0;
        bottom: 0;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .right-bottom-right-term img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}