#general {
    color: black;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

#linux {
    color: black;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#python {
    color: black;
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}

#programming {
    color: black;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

#hacking {
    color: black;
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

#basics {
    color: white;
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
}

#automation {
    color: white;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

#blogging {
    color: black;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#embedded-system {
    color: black;
    background: #57D5C1;
    background: linear-gradient(to bottom right, #57D5C1, #4547B7);
}

#series {
    color: white;
    border: 10px solid;
    border-image-source: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66));
    border-image-slice: 1;
}