<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- OGP (https://ogp.me/) -->
    <meta property="og:site_name" content="f4r4w4y"/>
    <meta property="og:description" content="{{ desc }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:url" content="https://fakhrip.github.io/blogs/{{ site | replace(".md", ".html") }}" />
    <meta property="og:image" content="https://media.discordapp.net/attachments/670439298058813442/807173134200864768/characterssss.png" />

    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Press+Start+2P|Bitter:wght@700|Raleway:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/tag.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/native.css">
    <link rel="apple-touch-icon" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="512x512"  href="../favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="../favicon/site.webmanifest">

    <title>f4r4w4y</title>
</head>
<body>

    <div class="fullscreen-bg">
        <img src="/pictures/bg1.jpg" alt="full-bg">
    </div>

    <div class="small-left-top-term">
        <div class="container">
            <h3 class="fullname">Muhammad Fakhri Putra <br> Supriyadi</h3>

            <h5 class="text">    
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">tldr ./{{ site }}</span>
                <ul style="list-style-type: none;">
                    <li>
                        TL;DR {{ tldr }}
                    </li>
                </ul>
            </h5>
        </div>
    </div>

    <div class="small-left-bottom-term">
        <div class="container">
            <h5 class="text">    
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">tags ./{{ site }}</span>
                <ul style="list-style-type: none;">
                    <li>
                        <div class="tags-container">
                            {% for tag in tags %}
                            <span class="tag" id="{{ tag|lower }}">
                                {{ tag|upper }}
                            </span>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            </h5>

            <h5 class="text">    
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">timing ./{{ site }}</span>
                <ul style="list-style-type: none;">
                    <li>
                        Estimated {{ times }}
                    </li>
                </ul>
            </h5>

            <h5 class="text">    
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">articlelastupdated ./{{ site }}</span>
                <ul style="list-style-type: none;">
                    <li>
                        Last updated on {{ updatedDate }} at {{ updatedTime }}
                    </li>
                </ul>
            </h5>
        </div>
    </div>

    <div class="full-term">
        <div class="container text">
            <h5 class="text">
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">cd <a class="link underline" href="/blogs.html">..</a></span>
            </h5>

            <h5 class="text">
                [fai@f4r4w4y blogs]$ <span style="font-weight: normal">fancyblogcat <span id="location" style="font-weight: normal"></span></span>
            </h5>

            <hr/>
            <center>
                <span style="font-weight: normal">بِسْمِ ٱللَّٰهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ</span>
            </center>
            <hr/>
            
            <div class="blog-content">
                {{ contents }}
            </div>

            <br/>
            <hr/>
            <center>
                <span style="font-weight: normal">Comment(s)</span>
            </center>
            <hr/>

            <script src="https://utteranc.es/client.js"
                repo="fakhrip/fakhrip.github.io"
                issue-term="pathname"
                label="blog-post-comment"
                theme="photon-dark"
                crossorigin="anonymous"
                async>
            </script>
        </div>
    </div>
</body>
<script>
    document.getElementById("location").innerHTML = './' + window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
</script>
</html>