r1 {
  color: #ff0000;
}
r2 {
  color: #ff645b;
}
r3 {
  color: #ffc0bc;
}

g1 {
  color: #e1e1e1;
}
g2 {
  color: #d2d2d2;
}
g3 {
  color: #c8c8c8;
}
g4 {
  color: #bbbbbb;
}
g5 {
  color: #aeaeae;
}
g6 {
  color: #9f9f9f;
}
g7 {
  color: #929292;
}
g8 {
  color: #838383;
}
g9 {
  color: #767676;
}
g10 {
  color: #696969;
}
g11 {
  color: #5c5c5c;
}
g12 {
  color: #4f4f4f;
}
g13 {
  color: #404040;
}
g14 {
  color: #333333;
}
g15 {
  color: #242424;
}
g16 {
  color: #121212;
}
