html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-color: #131212;
  color: #eeeeee;
  position: relative;
}

.container pre,
.font-julia {
  font-family: Julia, monospace;
  font-weight: 200;
  font-style: normal;
}

.container pre {
  margin: 0;
}

b {
  font-weight: 900;
}

.regular {
  font-weight: 400;
}

.spacy {
  letter-spacing: 1px;
}

.container {
  background-color: #131212;
  position: absolute;
  text-align: left;
  font-size: 12px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}

big {
  font-size: 20px;
}

small {
  font-size: 8px;
}

code {
  color: cyan;
  border-radius: 0.5em;
  padding: 0;
}

code::before {
  color: #5e5e5e;
  padding-right: 2px;
  content: "⟦"
}

code::after {
  color: #5e5e5e;
  padding-left: 2px;
  content: "⟧"
}

a:link,
a:visited {
  color: yellow;
  text-decoration: none;
  display: inline-block;
}

a.single:link,
a.single:visited {
  text-decoration: underline;
}

body:has(:is(a.cv-link:hover, a.cv-link:active)) .cv-link,
body:has(:is(a.backhome-link:hover, a.backhome-link:active)) .backhome-link,
body:has(:is(a.contact-link:hover, a.contact-link:active)) .contact-link,
body:has(:is(a.blog-link:hover, a.blog-link:active)) .blog-link,
body:has(:is(a.youtube-link:hover, a.youtube-link:active)) .youtube-link,
body:has(:is(a.about-link:hover, a.about-link:active)) .about-link,
a.single:hover, a.single:active {
  color: black;
  background-color: white;
}

body:has(:is(a.contact-link:hover, a.contact-link:active)) no-contactlink,
body:has(:is(a.blog-link:hover, a.blog-link:active)) no-bloglink,
body:has(:is(a.youtube-link:hover, a.youtube-link:active)) no-youtubelink,
body:has(:is(a.about-link:hover, a.about-link:active)) no-aboutlink {
  color: yellow;
}
