body {
  background-color: #131212;
  color: #eeeeee;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-x: hidden;
}

.container pre,
.font-julia {
  font-family: Julia, monospace;
  font-weight: 200;
  font-style: normal;
}

.container pre {
  margin: 0;
}

b {
  font-weight: 900;
}

.regular {
  font-weight: 400;
}

.spacy {
  letter-spacing: 1px;
}

.container {
  display: inline-block;
  background-color: #131212;
  position: relative;
  text-align: left;
  font-size: 12px;
  z-index: 2;
}

big {
  font-size: 20px;
}

small {
  font-size: 8px;
}

code {
  color: cyan;
  border-radius: 0.5em;
  padding: 0;
}

code::before {
  color: #5e5e5e;
  padding-right: 2px;
  content: "⟦";
}

code::after {
  color: #5e5e5e;
  padding-left: 2px;
  content: "⟧";
}

a:link,
a:visited {
  color: yellow;
  text-decoration: none;
  display: inline-block;
}

a.single:link,
a.single:visited {
  text-decoration: underline;
}

body:has(:is(a.cv-link:hover, a.cv-link:active)) .cv-link,
body:has(:is(a.challenge-link:hover, a.challenge-link:active)) .challenge-link,
body:has(:is(a.backhome-link:hover, a.backhome-link:active)) .backhome-link,
body:has(:is(a.contact-link:hover, a.contact-link:active)) .contact-link,
body:has(:is(a.blog-link:hover, a.blog-link:active)) .blog-link,
body:has(:is(a.youtube-link:hover, a.youtube-link:active)) .youtube-link,
body:has(:is(a.about-link:hover, a.about-link:active)) .about-link,
a.single:hover,
a.single:active {
  color: black;
  background-color: white;
}

body:has(:is(a.contact-link:hover, a.contact-link:active)) no-contactlink,
body:has(:is(a.blog-link:hover, a.blog-link:active)) no-bloglink,
body:has(:is(a.youtube-link:hover, a.youtube-link:active)) no-youtubelink,
body:has(:is(a.about-link:hover, a.about-link:active)) no-aboutlink {
  color: yellow;
}

.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 999;
  margin-top: 5px;

  animation: fadeOut 3s forwards;

  font-weight: bold;
  font-family: Julia, monospace;
}

.toast.info {
  background-color: greenyellow;
  color: black;
}

.toast.warning {
  background-color: red;
  color: white;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
